.main__section {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;

  background-image: url("../images/Background-Main.png");
  background-size: auto;
}

.main__content {
  width: 608px;
  height: 496px;
  display: flex;
  flex-direction: column;
  white-space: wrap;
  margin: 0;
  color: #ffffff;
}

.main__title {
  width: 608px;
  /* margin: 80px 416px 32px; */
  height: 128px;
  white-space: wrap;

  font-style: normal;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
}

.main__description {
  width: 608px;
  height: 24px;
  /* margin: 80px 416px 32px; */

  font-size: 18px;
  line-height: 24px;
  text-align: left;
}
