.nav__section {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
  }
  
  .nav__link-home {
    width: 49px;
    height: 24px;
    color: #fff;
    position: relative;
    text-decoration: none;
  }
  .nav__link-home::after {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
  }
  .nav__link-home:hover::after {
    bottom: 0;
    height: 2px;
  }
  
  .nav__signin-bar {
    width: 176px;
    height: 48px;
    border-radius: 25px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    border: 1px solid #ffffff;
    margin-left: 42px;
  }
  
  
  .nav__link-savedArticles {
    width: 114px;
    height: 24px;
    white-space: nowrap;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #b6bcbf;
    margin: 30px 64px 26px 76px;
  }
  .nav__link-savedArticles:hover {
    color: #ffffff;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }
  
  .nav__user-bar {
    height: 48px;
    border-radius: 24px;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 19px 0 13px auto;
  }
  
  .nav__username {
    width: 56px;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
    margin: 12px 19px 12px 19px;
  }
  
  .nav__logout-button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 12px 12px 12px 0;
  }
  
  .nav__logout-icon {
    width: 17.41px;
    height: 16px;
  }
  .nav__logout-icon:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  
  
  .nav__signin-button {
    width: 152px;
    height: 21px;
    font-family: "Roboto", sans-serif;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .nav__signin-button:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  
  

  