.modal__label {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: rgba(47, 113, 229, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
}

.modal__input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  margin: 0 0 41px;
  padding: 10px 0 10px;
  color: black;
  background-color: #ffff;
}

.modal__sign-in-button {
  width: 360px;
  height: 64px;
  border: none;
  border-radius: 100px;
  color: rgba(182, 188, 191, 1);
  background-color: rgba(230, 232, 235, 1);
  padding: 0;
  margin-bottom: 16px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.modal__sign-in-button:hover {
  background-color: rgba(47, 113, 229, 1);
  color: white;
}

.modal__alt-button {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}
.modal__sign-up-button {
  margin: 0;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  color: rgba(47, 113, 229, 1);
  cursor: pointer;
}
